<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /TPE_WEB2_2025/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ router.php?action=$1 [QSA,L]
</IfModule>
